.vehicle-list-menu
  background: #fff
  min-height: 40px
  float: left
  height: auto
  width: 100%
  box-shadow: 0px 1px 5px rgba(200,200,200,0.7)


.vehicle-list-menu ul > li > a
  color: #333 !important

.vehicle-list-menu ul > li
  float: left

.vehicle-list-menu ul > li.active
  background: #ccc

.vehicle-search-box, .vehicle-search-btn
  margin-top: 10px
  margin-bottom: 5px

.vehicle-search-btn
  background: #333
  color: rgb(250, 250, 250)