.home-section-text
  margin-top: 15vh

.tns-nav
  text-align: center

.tns-outer > button[data-action = "start"], .tns-outer > button[data-action = "stop"]
  display: none

.tns-nav-active
  background: #ccc
  height: 15px
  border-radius: 3px;

.text-larger
  font-size: 32px