.driver-list-item
  min-height: 120px
  padding: 20px
  line-height: 0px

.driver-list-item img
  margin-bottom: 10px

.driver-list-item > .media
  //background: #fff
  padding: 10px
  height: 80px !important
  //border-top: 2px solid rgba(200, 200, 200, 0.5)