.vehicle-profile-menu
  background: #fff
  min-height: 40px
  float: left
  height: auto
  width: 100%
  box-shadow: 0px 1px 5px rgba(200,200,200,0.7)

.vehicle-profile-menu ul > li
  float: left

.vehicle-profile-menu ul > li > a
  color: #333 !important

.vehicle-profile-menu ul > li.disabled
  opacity: 0.3