.cookie-section
  position: fixed
  height: auto
  width: 100%
  bottom: 0
  left: 0
  z-index: 1000
  background: rgb(60, 60, 60)
  box-sizing: border-box
  padding: 10px
  color: #bbb
  transition: all 0.3s ease-in-out

  &.hide-cookie
    bottom: -45%