.date-selection-menu-bar
  background: rgba(200,200,200,0.8)

.date-selection-menu-bar .navbar-nav > li > a
  color: rgb(60, 60, 60, 0.5) !important

.nav-dates
  width: 100%
  height: 70px
  position: relative
  overflow: hidden
  white-space: nowrap
  overflow-x: scroll
  padding-top: 20px

.nav-dates > li
  display: inline
  padding: 25px

.nav-dates > li > a
  cursor: pointer

.vehicle-time-record-table
  margin-top: 20px
  margin-bottom: 100px