
body
  background: #fff !important
  overflow: hidden
  
.main-login
  height: 100vh
  overflow: hidden

.main-login-banner
  height: 100vh
  padding-top: 10%
  color: rgb(255,255,255)
  z-index: 1
  position: relative


.main-login-backdrop
  float: left
  position: absolute
  width: 100%
  height: 100%
  top: 0
  background: rgba(0,0,0,0.8)
  z-index: 1


.main-login-banner-text
  float: left
  position: absolute
  height: 100%
  top: 150px
  z-index: 2

.sub-login-banner
  padding-top: 7%
  position: relative
  height: 100%
  overflow:hidden
  overflow-y: auto

.go-to-app-btn 
  border-radius: 50px !important
  color: #fff !important
  background: #e91e63 !important
  padding: 15px !important
  text-transform: none !important
  margin-right: 20px
  margin-bottom 20px
  width: 200px


.btn-corporate
  background: #595959 !important

.doodle-section
  height: 100%
  width: 100%
  background-size: cover
  overflow: hidden
  position: absolute
  z-index: 0
  top: 0

.sub-banner-deco
  position: absolute
  height: 30vh
  width: 50%
  background-size: cover
  overflow: hidden
  bottom: 0
  right: 0

.login-form-corporate > input
  height: 40px
  border-radius: 5px

.mb
  margin-bottom: 20px